html{
	background: url("https://cloud.githubusercontent.com/assets/8686148/4178424/0174cc4c-3696-11e4-91e6-cae4530b3384.jpg") #81daf5;
}
body {
	margin: 80px;
}

.registration{
	color: #0040ff;
	font-size: 50pt;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
	font-weight: bold;
}

.items{
	color: #0040ff;
	font-size: 14pt;
}

.adition{
	color: #0040ff;
	font-size: 30pt;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
	font-weight: bold;
}
.put{
	color: #0040ff;
	font-size: 14pt;
}
